.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.alert .card-content span {
	font-weight: bold;
	font-size: 1.1em;
	margin-right:4px;

}
.alert .close {
	float:right;
	position: relative;
	padding-right: 4px;
}
.alert-one{
	width:90% !important;
}
.alert-two{
	width:10px !important;
}
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

